body {
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
header {
    background-color: rgb(92, 203, 166);
    padding: 20px;
}
.a1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 20px;
}
.a2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}
.card {
    margin-bottom: 40px;
    width:33%;
    background-color: #ffffffc1;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid white;
    float: left;
    overflow: auto;
    box-sizing: border-box;
    color: rgb(0, 4, 58);
    height: 450px;
}

.centered {
    text-align: center;
}

img:hover{
    transform: scale(1.2);
}

img{
    border: 5px solid #00566b;
}
